# Cổng chạy server Backend
PORT=5000

# Thông tin kết nối Database 
DB_USER=postgres
DB_PASSWORD=your_database_password_here
DB_HOST=localhost
DB_PORT=5432
DB_NAME=attendance_db

# Chuỗi bí mật mã hóa Token (Thay thế bằng một chuỗi ngẫu nhiên khi chạy thực tế)
JWT_SECRET=your_super_secret_jwt_key_here