# Cổng chạy server Backend
PORT=5000

# Thông tin kết nối Database 
DB_USER=postgres
DB_PASSWORD=your_database_password_here
DB_HOST=localhost
DB_PORT=5432
DB_NAME=attendance_db

# Chuỗi bí mật mã hóa Token (Thay thế bằng một chuỗi ngẫu nhiên khi chạy thực tế)
JWT_SECRET=your_super_secret_jwt_key_here

# Thời gian cho phép sinh viên đi muộn (tính bằng phút)
GRACE_PERIOD_MINUTES=15
# Địa chỉ của AI Service (Python FastAPI).
# Nếu chạy ngoài máy thật thì là localhost:8000, chạy trong Docker sau này sẽ là tên service (vd: http://ai_service:8000)
AI_SERVICE_URL=http://localhost:8000